/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

:root {
  --justWhite: #fffffe;
  --lightGrey: #bfc1c0;
  --darkGrey: #717171;
  --gold: #a19d6e;
}

body {
  line-height: 1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: black;
  color: var(--justWhite);
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  /* width: 100vw; */
  padding: 1rem;
}

.navbar-top {
  display: flex;
  flex-direction: row;
}

.navbar-top a {
  text-decoration: none;
  color: var(--darkGrey);
}

.logo {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  width: 80vw;
}

.logo img {
  color: var(--darkGrey);
  width: 3rem;
  height: 3rem;
}

.navbar-list {
  text-transform: uppercase;
  width: 100vw;
}

.navbar-list ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.navbar-list li {
  margin: 1rem 1.5rem;
}

.navbar-list a:hover {
  color: var(--lightGrey);
}

.hero-container {
}

.left-sidebar-container {
}

.menu {
}

.social-media-text {
}

.current-date {
}

.social-media-buttons {
}

.instagram-btn {
}

.twitter-btn {
}

.facebook-btn {
}

footer {
  height: 10vh;
  color: var(--lightGrey);
}

.developer-info-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
}

.developer-name {
}

.developer-more-projects {
  align-items: center;
  display: flex;
  flex-direction: row;
  line-height: normal;
  padding: 1.5rem;
  justify-content: center;
}

/* fix it with JS */
.developer-more-projects a:hover {
  color: var(--justWhite);
}

.developer-more-projects img {
  height: 2rem;
  padding-left: 0.5rem;
}

footer span img {
  width: 3rem;
}

.copyright {
  line-height: 1.2;
  font-size: 0.8rem;
  color: var(--darkGrey);
}
